* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
/***** HEADER BEGIN *****/
.header {
  height: 80px;
  width: 100%;
  background-color: rgb(12, 11, 11);
  position: fixed;
}

.header-wrapper {
 display: flex;
 justify-content: flex-end;
 width: 90%;
 margin: 0 auto;
}
.baiano-logo {

  margin-right: auto;
}
.baiano-logo img {
  height: 80px;
  width: 80px;
}
.header-nav-bar {
  display: flex;
  padding-top: 24px;
  margin-right: 20px;
}
.header-nav-bar ul a {
  text-decoration: none;
}
.header-nav-bar ul li {
  display: inline;
  color: white;
  font-size: 15px;
  font-family: lato, sans-serif;
  font-weight: 600;
  margin: 0 13px;
  cursor: pointer;
  transition: 320ms;

}
.header-nav-bar ul li:hover {
  color: rgb(163, 7, 7);
}
.header-social-media-links {
  padding-top: 24px;
}
.header-social-media-links ul li {
  color: white;
  list-style: none;
  display: inline;
  margin: 0 13px;
  transition:
}
.header-social-media-links ul li i {
  transition: 320ms;
  cursor: pointer;
}
.header-social-media-links ul li i:hover {
  color: rgb(163,7,7);
}
/******* HEADER END *******/

/***** MAIN BEGIN *****/
.main {

  height: 1000px;
}

.main-container {
  width: 100%;
  height: 100vh;
  background-image: url(../img/grey-background.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

}
.opened-form {
  height: 170vh;
}
.main-wrapper {
  width: 1200px;
  justify-content: space-between;
}
.intro-wrapper {

  display: inline-block;

}
.intro-title {
  color: white;
  text-align: center;
  font-family: lato, sans-serif;
  font-size: 48px;
  font-weight: 300;

  text-transform: uppercase;
}
.intro-description {
  color: white;
  text-align:center;
  font-family: lato, sans-serif;
  padding: 36px 0;
  /* How to make text lines equal size*/
}

.directory-wrapper {
  width: 50%;
  display: inline-block;
  float: right;

}
.directory-title {
  color: rgb(191, 28, 28);
  font-size: 28px;
  font-weight: 500;
  font-family: lato, sans-serif;

}
.directory-description {
  color: white;
  font-family: lato, sans-serif;
  font-weight: 600;
  padding: 10px 0 30px 0;
}

.directory-wrapper button {
  display: block;
  margin: 0 auto;
  width: 160px;
  height: 62px;
  background: Transparent;
  color: white;
  font-size: 20px;
  border: 2px solid white;
  transition-duration: 250ms;
  cursor: pointer;
}
.directory-wrapper button:hover {
  background-color: white;
  color: rgb(97, 93, 97);
}
.form-container {
  padding: 20px 0;
  display:none;
}
.open-form-container {
  display:;
}
.form-inputs {
}
.form-inputs input {
  width: 90%;
  height: 40px;
  margin-left: 30px;
  background-color: black;
  color: rgb(175, 175, 175);
  font-size: 14px;
}
.form-text-area {
  margin-left: 30px;
}
.form-text-area textarea {
  background-color: black;
  color: rgb(175,175,175);
  font-size: 15px;
  width: 95%;
}
.form-btn button {
  width: 90%;
  height: 70px;
  background-color: black;
  font-size: 14px;
  margin:20px 0 0 30px;
}
.form-btn button:hover {
  background-color: red;
  color: black;
  font-weight: 600;
}


/****** LOCATION SECTION ******/
.location-info-container {
  background-image: url(../img/grey-background.jpg);
  background-size: cover;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  padding-top: 66px;
}
.location-info-container hr {
  width: 46px;
  margin: 28px 0;
}
.location-info-container p {
  padding: 3px 0;
}
.location-info-container h3 {
  font-size: 22px;
  text-transform: uppercase;
}
.location-info-container h4 {
  padding: 12px 0;
  text-transform: uppercase;
}
.location-text-styling {
font-family: lato, sans-sans-serif;
color: white;
font-weight: 500;
}
.location-text-styling span {
  color: rgb(171, 8, 8);
  font-weight: 600;
}
.location-flex-item {
  margin: 0 40px;
}

/***** SOCIAL MEDIA BANNER ****/
.social-media-banner {
  background: black;
  width: 100%;
  height:80px ;
}
.sm-links-wrapper {
  width: 44%;
  height: inherit;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.sm-container {
  margin: 0 60px;
}
.sm-link {
  list-style: none;
  margin-top: 30px;
}
.sm-link p {
  color: white;
  display: inline;
}
.sm-link i {
  color: rgb(221, 53, 53);
  padding: 0 4px;
}
/***** FOOTER ****/
.footer {
  width: 100%;
  height: 80px;
  background-color:rgb(55, 55, 55);
}
.footer p {
  color: white;
  font-size: 14px;
  font-weight: 500;
  font-family: lato, sans-serif;
  text-align: center;
}
.creator-name-footer span {
  color: rgb(171, 8, 8);
}

.copyright-footer {
  padding: 10px 0;
}
